.introContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #1e1e1e;
}
.top {
  margin-left: 0.6rem;
  font-size: 2rem;
  margin-bottom: -1rem;
  @media screen and (max-width: 600px) {
    font-size: 1.2rem;
  }
}
.bottom {
  position: relative;
}
.name {
  font-size: 160px;
  line-height: 160px;
  font-weight: 700;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  & > div {
    height: 160px;
  }

  @media screen and (max-width: 600px) {
    font-size: 100px;
    line-height: 100px;
    & > div {
      height: 100px;
    }
  }
}
.hidden {
  position: absolute;
  color: transparent;
  top: 20px;
  z-index: -1;
}

.workContainer {
  background-color: #1e1e1e;
}
.aboutContainer {
  z-index: 9;
  background-color: #1e1e1e;
}
.panelContainer {
  display: flex;
  width: fit-content;
  position: relative;
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
  }
}
.facePlaceholder {
  width: 160px;
  height: 160px;
}
.lastName {
  display: flex !important;
}
.face {
  position: fixed;
  left: -200px;
  bottom: 10px;
  rotate: 0;
  transform: all 0.3s ease;
  svg {
    height: 140px;
  }
}
.workContainer {
  display: flex;
  align-items: center;
  margin-left: 5vw;
  z-index: 99;

  @media screen and (max-width: 600px) {
    margin-left: 0;
  }
}
