.introContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
}
.bottom {
  position: relative;
}
.name {
  font-size: 160px;
  line-height: 160px;
  font-weight: 700;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  & > div {
    height: 160px;
  }
}
.hidden {
  position: absolute;
  color: transparent;
  top: 20px;
  z-index: -1;
}

.workContainer {
  background-color: #1e1e1e;
}
.aboutContainer {
  height: 100vh;
  width: 100vw;
  background-color: pink;
}
.panelContainer {
  display: flex;
  width: fit-content;
}
.facePlaceholder {
  width: 160px;
  height: 160px;
}
.lastName {
  display: flex !important;
}
.face {
  z-index: 9;
  position: fixed;
  left: -200px;
  bottom: 10px;
  rotate: 0;
  transform: all 0.3s ease;
  svg {
    height: 140px;
  }
}
.workContainer {
  display: flex;
  align-items: center;
  background-color: #ff7ec4;
  margin-left: 10vw;
}
