@font-face {
  font-family: "PP Mori";
  src: url("./assets/font/PP_Mori_Regular.woff") format("woff");
  font-weight: normal; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "PP Mori";
  src: url("./assets/font/PP_Mori_SemiBold.woff") format("woff");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}
/* :root {
  font-family: "PP Mori", sans-serif;

  color: #fff;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;

}
#root {
  height: 100%;
  margin: 0 auto;
}

 */

:root {
  font-family: "PP Mori", sans-serif;
}
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  color: #fff;
  /* background-color: #1e1e1e; */
  background-color: #ff7ec4;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}

.word {
  padding-top: 20px;
  overflow: hidden;
  /* border: 1px solid white; */
  height: 2;
}
