.workWrapper {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100vh;
  background-color: #ff7ec4;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: flex-start;
    padding: 6rem 2rem;
    overflow-x: hidden;
  }
  .title {
    font-weight: 700;
    font-size: 64px;
    white-space: nowrap;
    @media screen and (max-width: 600px) {
      font-size: clamp(32px, 8vw, 40px);
    }
  }
  .items {
    display: flex;
    gap: 80px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  .item {
    cursor: pointer;
    height: 60vh;
    width: 40vh;
    background-color: white;
    padding: 24px;
    padding-right: 0px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #1e1e1e;
    text-decoration: none;
    &.noAccess {
      cursor: not-allowed;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      height: 60vh;
    }
  }
  .itemTitle {
    font-size: 24px;
    font-weight: 600;
    padding-right: 24px;
  }
  .itemDescription {
    line-height: 150%;
    padding-right: 24px;
  }
  .img {
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 8px 0 0 8px;
      object-position: left;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &.noShadow {
      img {
        box-shadow: none;
      }
    }
  }
}
